//! **************************************************************************
// Written by: Map J.30 on Thu Dec 06 11:20:28 2007
//! **************************************************************************

SCHEMATIC START;
COMP "hab_seg<0>" LOCATE = SITE "D14" LEVEL 1;
COMP "LED_D<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "hab_seg<1>" LOCATE = SITE "G14" LEVEL 1;
COMP "LED_D<3>" LOCATE = SITE "P15" LEVEL 1;
COMP "hab_seg<2>" LOCATE = SITE "F14" LEVEL 1;
COMP "LED_D<4>" LOCATE = SITE "R16" LEVEL 1;
COMP "hab_seg<3>" LOCATE = SITE "E13" LEVEL 1;
COMP "LED_D<5>" LOCATE = SITE "F13" LEVEL 1;
COMP "LED_D<6>" LOCATE = SITE "N16" LEVEL 1;
COMP "FULL" LOCATE = SITE "P12" LEVEL 1;
COMP "F_PATTERN" LOCATE = SITE "D6" LEVEL 1;
COMP "START" LOCATE = SITE "K13" LEVEL 1;
COMP "F_INPUT" LOCATE = SITE "T9" LEVEL 1;
COMP "RESET" LOCATE = SITE "M13" LEVEL 1;
COMP "LED_D<0>" LOCATE = SITE "E14" LEVEL 1;
COMP "LED_D<1>" LOCATE = SITE "G13" LEVEL 1;
NET "F_INPUT_BUFGP/IBUFG" BEL "F_INPUT_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "F_PATTERN_BUFGP/IBUFG" BEL "F_PATTERN_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;
