//! **************************************************************************
// Written by: Map I.24 on Sun Apr 15 18:36:22 2007
//! **************************************************************************

SCHEMATIC START;
NET "CLKR_BUFGP/IBUFG" BEL "CLKR_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
